* {
  -webkit-font-smoothing: antialiased;
}

.blog-main.single p {
  margin: 20px 0;
}

.blog-main.single img {
  width: 100%;
  height: auto;
}

.blog-main.single .image-full-width + .image-label, .blog-main .image-full-column + .image-label, .blog-main .image-overflow-both + .image-label {
  width: 100%;
}

.block-img {
  margin-bottom: 0;
}

.blog-main.single .image-label {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #B2B2B2;
  margin: 0;
}

@media (min-width: 768px) {

  .blog-main.single .image-left {
    display: block;
    float: left;
    width: 66%;
    padding-right: 40px;
    margin-top: 0;
  }

  .blog-main.single .image-left, .blog-main.single .image-left + .image-label {
    margin-bottom: 20px;
  }

  .blog-main.single .image-full-column {
    display: block;
    width: 100%;
    margin: 40px 0;
  }

  .blog-main.single .image-full-column + .image-label {
    margin-top: 40px;
  }

  .blog-main.single .image-overflow-both, .blog-main.single .image-full-width {
    margin-top: 40px;
  }

  .blog-main.single .image-full-width + .image-label, .blog-main.single .image-overflow-both + .image-label {
    margin-bottom: 40px;
  }

  .blog-main.single .image-left + .image-label, .blog-main.single .image-full-column + .image-label {
    position: absolute;
    width: 100px;
    left: -110px;
    border-right: solid #B2B2B2 7px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-align: right;
  }

  .blog-main.single .image-overflow-left {
    display: block;
    float: left;
    width: 70%;
    padding-right: 40px;
    margin-left: -50px;
  }

  .blog-main.single .image-overflow-left > img, .blog-main.single .image-overflow-both > img {
    right: -50px;
    width: 100%;
    height: auto;
  }

  .blog-main.single .image-overflow-left + .image-label {
    width: 70%;
    margin-bottom: 20px;
    float: left;
    padding-right: 40px;
    margin-left: -50px;
  }

  .blog-main.single .image-overflow-both {
    display: block;
    width: 130%;
    margin-left: -15%;
  }

  .blog-main.single .image-full-width {
    width: 100vw;
    transform: translate(-50%);
    margin-left: 50%;
  }

  .blog-main.single .block-quotation {
    width: 130%;
    margin: 40px -15%;
    font-size: 30px;
    padding: 20px 0;
  }

  .blog-main.single .block-citation {
    margin: 20px 0;
  }
}

.blog-main.single .block-quotation {
  display: inline-block;
  font-style: italic;
  font-size: 24px;
}

.blog-main.single .block-quotation:before { content: "« " }

.blog-main.single .block-quotation:after { content: " »" }

.blog-main.single .block-citation {
  display: inline-block;
  font-style: italic;
  border-left: solid #B4B4B4 4px;
  padding-left: 10px;
}
