{% extends "base.html.twig" %}

{% block content %}

    <h2>Archives for {{ archive_date }}</h2>

    {% for post in posts %}
        {% include "content.html.twig" %}
    {%  endfor %}
    {%  if posts is empty %}
        <p>Sorry, no posts matched your criteria.</p>
    {%  endif %}

    {{ previous_posts_link() }}

    {{ next_posts_link() }}

{% endblock %}


