{% extends "base.html.twig" %}

{% block content %}

{% for post in response.results %}
    {% include "content.html.twig" %}
{%  endfor %}
{%  if response.results is empty %}
    <p>Sorry, no posts matched your criteria.</p>
{%  endif %}

{{ response|previous_posts_link }}

{{ response|next_posts_link }}

{% endblock %}
