body {
  font-family: 'PT Serif', serif;
  color: #9698B9;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h2, h3 {
  color: #0C0E57;
}

.button {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #0C0E57;
}

.button:hover {
  background: #0C0E57;
  color: #fff;
  border-color: #0C0E57;
}

.round-image {
  background-color: #F3F3F9;
}

.featured-preview {
  background: #F3F3F9;
}

.featured-preview li {
  border-top: 1px solid #F3F3F9;
}

.featured-preview li:hover {
  background: #FFF;
}

.alternated-items > div {
  background: #F3F3F9;
}

.alternated-items .alternate {
  background: #E9E9F5;
}

.featured-items-simple .illustration {
  background-color: #F3F3F9;
}

.faq h3 {
  border-bottom: 1px solid #D6D6D6;
}

.slides .slide h2 {
  font-family: 'Lato', sans-serif;
}

.slides, .slides h2, .slide-arrows a {
  color: #FFF;
}

.slides .slide {
  background-color: #201145;
}

.slides .button {
  color: #FFF;
}

.slides p {
  font-family: 'Lato', sans-serif;
}

.slides .button:not(.home):hover {
  background: #FFF;
  color: #0C0E57;
}

.button.home {
  background: #5154AB;
  color: #FFF;
  box-shadow: 0px 3px #412F8D;
}
