/*
 * Globals
 */

@font-face {
    font-family: 'StarterKit';
    src: url('fonts/starterkit.eot') format('eot');
    src : url('fonts/starterkit.woff') format('woff'),
          url('fonts/starterkit.svg#abcd') format('svg'),
          url('fonts/starterkit.ttf') format('truetype');
    font-weight: normal
    font-style: normal
}


a {
  text-decoration: none;
}

/*
 * Masthead for nav
 */


@media (max-width: 767px) {

  #menu-hamburger {
    padding: 15px 20px;
    font-size: 18px;
  }

  .page .wio-link {
    width: 30px !important;
    top: 60px;
    right: 18px;
  }

  .page .wio-link img {
    width: 18px;
  }
}

/*
 * Sidebar menu
 */

#right-panel {
  display: none;
  width: 220px;
  padding: 26px 30px;
  background-color: #181818;
  color: #fff;
}

#menu-hamburger {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  color: white;
  text-shadow: 0 0 2px black;
}

#menu-hamburger::before {
  font-family: 'StarterKit';
  content: '\e006';
}

/*
 * Sidebar content
 */
#right-panel li {
  list-style: none;
}

#right-panel h3 a {
  color: white;
}

.search {
  border: solid 1px #4e4e4e;
  padding: 6px 20px;
  background: #181818;
  border-radius: 20px;
}

.search input {
  border: 0;
  background: #181818;
  color: #4e4e4e;
  font-size: 16px;
  max-width: 130px;
}

.search input:focus {
  outline: none;
}

.search-icon {
  float: right;
}

.sidebar-section {
  padding-top: 30px;
}

.sidebar-section h3 {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}

.sidebar-section ul {
  margin-top: 8px;
}

.sidebar-section li {
  padding: 10px;
}

.sidebar-section li a {
  font-size: 14px;
  color: #FFF;
}

/*
 * Main column and sidebar layout
 */

@media (min-width: 768px) {

  #menu-hamburger {
    padding: 30px;
    font-size: 22px;
  }

  #menu-hamburger::before {
    font-size: 22px;
  }

  .page .wio-link {
    width: 36px !important;
    top: 90px;
    right: 28px;
  }

  .page .wio-link img {
    width: 24px;
  }
}

/*
 * Prismic
 */

.wio-link {
  position: absolute;
  display: none;
}

.page .wio-link {
  display: block;
}

.page .wio-link:hover {
  transform: scale(1.1);
}

.page .wio-link {
  transition: transform 0.2s ease-in-out;
  z-index: 1;
  border-radius: 50%;
  background: #FFF !important;
  box-shadow: 0 0 2px black;
}

.page .wio-link img {
  padding: 6px;
}

[data-wio-id]:hover .wio-link {
  display: block;
}

.blog-main.single .wio-link {
  right: 20px;
  top: 0;
}

.blog-post {
  position: relative;
}

.blog-post .wio-link {
  right: 0px;
  top: 10px;
}


.not-found .illustration {
  background: url('images/not-found.png');
  width: 200px;
  height: 200px;
  background-size: 100%;
  display: inline-block;
}

.not-found {
  height: 100vh;
  text-align: center;
}

.blog-header.not-found h1 {
  margin-top: 30px;
  font-size: 26px;
  text-transform: uppercase;
}
