[data-disqium-thread-id] {
    position: relative;
    box-sizing: border-box;
    padding-right: 30px;
}

[data-disqium-thread-id] .disqium-wrapper {
    position: absolute;
    background: green;
    top: 10px;
    right: 20px;
    height: 100%;
}

[data-disqium-thread-id] .disqium-wrapper [name=disqium-new-post] {
    background: blue;
    position: absolute;
    left: 30px;
    display: none;
}

[data-disqium-thread-id] .disqium-wrapper [name=disqium-new-post].fade-in {
    display: block;
}

[data-disqium-thread-id] .disqium-wrapper .disqium-toggle-thread {
    background: yellow;
    position: absolute;
    display: none;
}

[data-disqium-thread-id] .disqium-wrapper .disqium-toggle-thread.fade-in {
    display: block;
}
